################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/github-fundamentals-Bigbuster153/FileContentIndex
